@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ActionFilterIndex</title>
</head>
<body>
    <div>
        <p>action method ellapsed time:@ViewData.Model</p>
    </div>
</body>
</html>
