@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ActionFilterAndResultFilterIndex</title>
</head>
<body>
    <div>
         <p>action elapsed time: @Model</p>
    </div>
</body>
</html>
