@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
       <p>action method is running: @Model</p>
       <p>@Html.Action("OutputCacheFilterIndex")</p>     
    </div>
</body>
</html>
