@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OutputCacheFilterIndex</title>
</head>
<body>
    <div>
       <p>child action method is running: @Model</p>        
    </div>
</body>
</html>
